*{
    margin: 0;
    padding: 0;
}
.main-back{
    width: 100%;
    height: 100vh;
    background-image: url(sky.jpg);
    background-size: 100% 100%;
    background-position: center;
    overflow-x: hidden;
    position: relative;
}
.highway{
    height: 100px;
    width: 500%;
    background-image: url(h.webp);
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-size: 100% 100%;
    background-repeat: repeat-x;
    /* background-size: initial; */
    animation: high ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: linear;


}
@keyframes high{
    100%{ transform:translateX(-3400px);} 
 }
.city{
    width: 500%;
    height: 150px;
    background-image: url(city3.png);
    display: block;
    bottom: 24px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
     background-repeat: repeat-x;
    animation: city 20s  infinite linear; 
}
@keyframes city{
    100%{
        transform: translateX(-1400px);
    }
}
.car{
    width: 400px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}
.car img{
width: 100%;
animation: tank 2s infinite linear;
}
@keyframes tank{ 
    100%{transform: translateY(-1px);}
    50%{transform:translateY(1px) ;}
    0%{transform: translateY(-1px);}
}
.wheel{ 
    width: 800px;
    position: absolute;
    z-index: 3;
    bottom: 32px;
    left: 66%;
    transform: translateX(-50%);
}
.wheel img{
    animation: wheel 1s linear infinite;

}
@keyframes wheel{
    100%{transform: rotate(360deg);}
}

